{% extends "base.html" %} {% block app_content %}
<div>
  <table
    id="eventsTable"
    data-toggle="table"
    data-height="300"
    data-url="{{records}}"
    data-pagination="true"
    data-search="true"
    data-show-refresh="true"
    data-show-toggle="true"
    data-show-columns="true"
    data-toolbar="#toolbar"
    aria-describedby="mydesc"
  >
    <thead>
      <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th data-field="name">Name</th>
        <th data-field="stargazers_count">Stars</th>
        <th data-field="forks_count">Forks</th>
        <th data-field="description">Description</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %} {% block styles %} {{ super() }}
<link
  rel="stylesheet"
  href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css"
/>
{% endblock %} {% block scripts %} {{ super() }}
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
{% endblock %}
